<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
        <script src = "{{ url_for('static', filename='index.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <title>Flack app</title>


    </head>

<body>
  <ul>
<li><a id="active" href="#home">Home</a></li>
</ul>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="register">
    <input placeholder="What is your name" class="register_form">
    <button class="register_button">Register</button>
    </form>
  </div>

</div>
<div class="main">
<div class="grid-container">
  <div class="item1">
    <div class="create_channel">
      <p>Create new Channel :</p>
         <form class="new_channel">
           <input type="text" placeholder="Channel name" class="channel_form" autofocus='off' autocomplete="off">
           <button class="submit_channel" type="submit">Create</button>
         </form>
      </div>
    </div>
  <div class="item4">
      <div class="channel_list">
        <div class = 'user_channel'>
          <a class="channels" id="general_channel" href = "#" >General</a>
          {% for channel in channels %}
            {% if channel != 'General'%}
             <a class="channels" href = "#" >{{channel}}</a>
            {% endif %}
          {% endfor %}
        </div>
        
        </div>
        
      </div>
      
  

    <div class="item2">
    <div class="channel_name">{{present_channel}}</div>
  </div>

  <div class="item3">
    <div class="message-div">
        
      <div><div class="message-box public">Hi, welcome to the general channel</div></div>
     </div>


    <div class="input_message">
      <form class="new_message">
      <input class="message_form" placeholder="Send your text" autofocus='off' autocomplete="off">
      <button type="submit" class="submit_message">Send</button>
    </form>
    </div>
  </div>


</div>
</div>

<footer>Project by Josh</footer>
</body>

</html>
